mixin intro
  if bird.score > threshold
    if bird.id === 68
      synz
        syn
          | the pride of Casa del Cardinal, the #{bird.common_name}!
        syn
          | ah shucks, aren't i a beautiful bird?
        syn
          | have you seen a better looking bird than the #{bird.common_name}?
        syn
          | the star of the show, the #{bird.common_name}!
        syn
          | it's #{bird.name} to you.
        syn
          | who's house is this?
    else
      synz
        syn
          | well hello there! it's our feathered friend, the #{bird.common_name}!
        syn
          | welcome to Casa del Cardinal to our #{bird.common_name} friend!
        syn
          | hey look! it's a #{bird.common_name} stopping by for a snack!
        syn
          | save some seed for me!
        syn
          | mi casa es su casa! welcome to Casa del Cardinal to our friend, the #{bird.common_name}!
  else
    synz
      syn
        | is that you #{bird.common_name}?
      syn
        | didn't get a great look, but i think that was our friend #{bird.common_name}.

mixin bird
  | #[+intro]


| #[+bird]
